body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1117px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:373px;
}
#u129 {
  position:absolute;
  left:15px;
  top:14px;
  width:1102px;
  height:373px;
}
#u130 {
  position:absolute;
  left:2px;
  top:178px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u131 {
  position:absolute;
  left:28px;
  top:38px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:28px;
  top:93px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u134 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:208px;
  top:93px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:393px;
  top:93px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u138 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u139 {
  position:absolute;
  left:583px;
  top:93px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u140 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:773px;
  top:93px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u143 {
  position:absolute;
  left:963px;
  top:93px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u144 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u145 {
  position:absolute;
  left:28px;
  top:245px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u146 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u147 {
  position:absolute;
  left:208px;
  top:245px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u148 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u149 {
  position:absolute;
  left:393px;
  top:245px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u150 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:583px;
  top:245px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u152 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u153 {
  position:absolute;
  left:773px;
  top:245px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u154 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:963px;
  top:245px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u156 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u157 {
  position:absolute;
  left:981px;
  top:38px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u159 {
  position:absolute;
  left:1048px;
  top:38px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u161 {
  position:absolute;
  left:28px;
  top:199px;
  width:144px;
  height:36px;
}
#u162 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:37px;
}
#u163 {
  position:absolute;
  left:100px;
  top:199px;
  width:1px;
  height:36px;
}
#u164 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  position:absolute;
  left:51px;
  top:209px;
  width:29px;
  height:16px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:120px;
  top:209px;
  width:29px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:28px;
  top:199px;
  width:73px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u170 {
  position:absolute;
  left:101px;
  top:199px;
  width:71px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u171 {
  position:absolute;
  left:151px;
  top:88px;
  width:21px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
}
#u172 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u173 {
  position:absolute;
  left:28px;
  top:419px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u174 {
  position:absolute;
  left:2px;
  top:45px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u175 {
  position:absolute;
  left:71px;
  top:443px;
  width:58px;
  height:58px;
}
#u176 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u177 {
  position:absolute;
  left:208px;
  top:419px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u178 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u179 {
  position:absolute;
  left:393px;
  top:419px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u180 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:583px;
  top:419px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u182 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u183 {
  position:absolute;
  left:773px;
  top:419px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u185 {
  position:absolute;
  left:963px;
  top:419px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u186 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u187 {
  position:absolute;
  left:28px;
  top:559px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u188 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u189 {
  position:absolute;
  left:208px;
  top:559px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u190 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u191 {
  position:absolute;
  left:393px;
  top:559px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u192 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u193 {
  position:absolute;
  left:583px;
  top:559px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u194 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u195 {
  position:absolute;
  left:773px;
  top:559px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u196 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u197 {
  position:absolute;
  left:963px;
  top:559px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u198 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u199 {
  position:absolute;
  left:28px;
  top:704px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u200 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u201 {
  position:absolute;
  left:208px;
  top:704px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u202 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u203 {
  position:absolute;
  left:393px;
  top:704px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u204 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u205 {
  position:absolute;
  left:583px;
  top:704px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u206 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u207 {
  position:absolute;
  left:773px;
  top:704px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u208 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:106px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u209 {
  position:absolute;
  left:963px;
  top:704px;
  width:144px;
  height:106px;
  font-size:16px;
  color:#FFFFFF;
}
#u210 {
  position:absolute;
  left:2px;
  top:44px;
  width:140px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:28px;
  top:419px;
  width:144px;
  height:106px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
